*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img-1.jpg);
    background-position: center;
    background-size: cover;
}

.form-container {
    background: transparent;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    width: 300px;
    max-width: 90%;
    color: white;
    border: 1px solid white;
    backdrop-filter: blur(20px);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    outline: none;
    font-size: 1.1rem;
    color: #fff;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #07A809;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
}

.submit-btn:hover {
    background-color: #146721;
}
h2{
    margin: -5px 0 3rem 0;
    text-align: center;
}